.chat-body{
  color: black;
  position: relative;
  height: calc(100% - 190px);
  overflow-y: scroll;
  padding: 30px 0;
  .chat-messages {
    position: relative;
    right: 40px;
    left: 40px;
    padding: 0;
    list-style: none;
    .chat-message {
      margin-bottom: 40px;
      &__header{
        &:after {
          content: '';
          display: block;
          clear: both;
        }
        line-height: 20px;
        &--name{
          float: left;
          margin-bottom: 10px;
          font-weight: 600;
        }
        &--time{
            float: left;
            margin-left: 10px;
            color: #aaa;
            font-size: 12px;
        }
      }
      &__body {
        font-size: 14px;
      }
    }
  }
}

.message-footer{
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px 40px;
  background-color: #ddd;
  .message-footer__body {
    float: left;
    width: calc(100% - 115px);
    height: 50px;
    position: relative;
    #message_body {
      width: 100%;
      height: 50px;
      line-height: 20px;
      border: none;
      resize: none;
      display: block;
    }
    .message-footer__file {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 40px;
    height: 50px;
    line-height: 50px;
    text-aligin: center;
    cursor: pointer;
      input{
        display: none;
      }
    }
  }
  input {
    float: left;
    display: inline-block;
    width: 100px;
    margin-left: 15px;
    line-height: 50px;
    color: #fff;
    background-color: #38aef0;
    text-align: center;
    border: none;
    padding: 0;
  }
}




