.header{
  ul {
    background-color: #778899;
    display: table;
    table-layout: fixed;
    text-align: center;
    width: 100%;
    margin: 0;

    li {
      display: table-cell;
      vertical-align: middle;
      height: 40px;
    }
  }
}

.contents {
  background-color: #fff;
  height: 360px;
  padding: 20px;
  .left{
    .UserPage
      ul {
        margin: 0;
        display: table;
        width: 100%;
        p{
          font-size: 8px;
          color: black;
        }
        li{
          list-style: none;
          vertical-align: middle;
          height: 15px;
          font-size: 15px;
        }
      }
  }
  .right {
    display: none;
  }
}


i{
  color: white;
}

.chat-group-form__input {
  width: 100%;
}

.chat-group-user {
  padding: 0 15px;
  line-height: 50px;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  text-align: right;

  &__name {
    float: left;
  }

  &__btn {
    display: inline-block;
    cursor: pointer;

    &--add {
      color: #38aef0;
    }

    &--remove {
      color: #f05050;
    }
  }
}



























